.section-carrito{
    width: 100%;
    padding-top: 12vh;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 20%;
    .carrito-title{
        padding-left: 1rem;
        
        font-size: 3rem;
        color: rgb(70, 70, 70);
        font-family: sans-serif;
        
    }
    .carrito-productos{
        display: grid;
        grid-template-columns: 1fr;
        border-top: darkgrey 1px solid;
        
        .carrito-producto{
            padding: 0;
            display: grid;
            grid-template-columns: 50% 50%;
            border: darkgrey 1px solid;
            .carrito-producto__image{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 100%;
                
                img{
                    width: 60%;
                    height: auto;
                }
            }
            h3{
                padding: 0;
                margin: auto;
                font-family: sans-serif;
                padding: 1rem;
                color: rgb(70, 70, 70);
            }
            .carrito-quantity-container{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                color: rgb(70, 70, 70);
                div{
                    cursor: pointer;
                    border-radius: 20%;
                    padding: 5px;
                    background-color: transparent;
                    border: 2px solid rgb(70, 70, 70);
                    margin: 10px;
                    
                }
                h4{
                    font-size: 1.5rem;
                }
                .button-delete-cart{
                    color: darkred;
                    border: darkred 2px solid;
                }
            }
        }
    }
    .sumatoria-total{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .card-addition-cart{
            display: grid;
            grid-template-columns: 50%;
            grid-template-areas: "info total"
                                 "button button";
            align-items:center;
            
            
            .total-information-cart{
                text-align: left;
                grid-area: info;
                font-family: sans-serif;
                font-size: 1.5rem;
                color: rgb(70, 70, 70);
            }
            .final-total-cart{
                font-family: sans-serif;
                color: rgb(70, 70, 70);
                grid-area:total;
                text-align: right;
            }
            .button-buy-cart{
                grid-area: button;
                border: 2px solid rgb(9, 54, 73);
                background-color: rgb(9, 54, 73);
                color: white;
                font-size: 1.2rem;
                font-weight: 400;
                border-radius: 0px;
                padding: 10px;
                cursor: pointer;
                transition: all .2s ease-out;
            }
            .button-buy-cart:hover{
                background-color: white;
                color: rgb(9, 54, 73);
            }
        }
    }
}

.without-products{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h2{
        font-family: sans-serif;
        letter-spacing: 2px;
        color:rgb(70, 70, 70);
    }
    a{
        text-decoration: none;
        border: 3px solid darkred;
        background-color: darkred;
        color: white;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 10px;
        cursor: pointer;
        transition: all .5s ease-out;
        font-family: sans-serif;
    }
    

    
}

.section-fav{
    width: 100%;
    min-height: 100vh;
    padding-top: 12vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .favoritos-title{
            padding-left: 1rem;
            grid-area: title;
            font-size: 3rem;
            color: rgb(70, 70, 70);
            font-family: sans-serif;
            width: 100%;
            text-align: left;
    }
    .favs-productos{
        border-top: darkgrey 1px solid;
        width: 100%;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
        justify-content: center;
        align-items: center;
        row-gap: 100px;
        .favs-producto{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .favs-producto__image{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 90%;
                    
                }
            }
            h3{
                
                font-family: sans-serif;
                color: rgb(70, 70, 70);
            }
            .favs-addToCart{
                background-color: darkred;
                padding: 3%;
                color: white;
                border: none;
                cursor: pointer;
            }
        }
    }
}
.finishPurchase--container{
    position: fixed;
    inset: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
    height: 100vh;
    
    .finishPurchase{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        position: relative;
        
        
        .closePopUpCompra{
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            font-size: 1.5rem;
            color: rgb(70, 70, 70);
            
        }
        label{
            font-family: sans-serif;
            font-size: 1.1rem;
            margin-bottom: 5%;
            color: rgb(70, 70, 70);
            width: 100%;
            text-align: center;
        }
        input[type="text"]{
            width: 250px;
            border: none;
            border-bottom: 1px solid rgb(70, 70, 70);
            outline: none;
            font-size: 1rem;
            font-weight: 500;
        }
        .error-input{
            width: 100%;
            text-align: left;
            margin:0;
            margin-bottom: 10%;
            color: darkred;
            visibility: hidden;
            opacity: 0;
            transition: all .2s ease;
        }
        .isActiveErrorInput{
            visibility: visible;
            opacity: 1;
        }
        input[type="submit"]{
            background-color: rgb(9, 54, 73);
            color: white;
            padding: 6%;
            border: none;
            font-size: 1rem;
            cursor: pointer;
        }
    }
    .finalMessage{
        padding: 1%;
        background-color: #b3e5d1;
        text-align: center;
        h3{
            font-size: 1.2rem;
            color:#194d33;
        }
    }
}
@media screen and (min-width:550px){
    .section-carrito{
        
        .carrito-productos{
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 10px;
            border:none
        }

    }
    .finishPurchase--container{
        
        position: fixed;
        inset: 0;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999999;
        
        .finishPurchase{
            width: unset;
            height: unset;
            padding: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: white;
            position: relative;
            
            max-height: 90vh;
            .closePopUpCompra{
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                font-size: 1.5rem;
                color: rgb(70, 70, 70);
                
            }
            label{
                font-family: sans-serif;
                font-size: 1.1rem;
                margin-bottom: 5%;
                color: rgb(70, 70, 70);
                width: 100%;
                text-align: left;
            }
            input[type="text"]{
                width: 250px;
                border: none;
                border-bottom: 1px solid rgb(70, 70, 70);
                outline: none;
                font-size: 1rem;
                font-weight: 500;
            }
            .error-input{
                width: 100%;
                text-align: left;
                margin:0;
                margin-bottom: 10%;
                color: darkred;
                visibility: hidden;
                opacity: 0;
                transition: all .2s ease;
            }
            .isActiveErrorInput{
                visibility: visible;
                opacity: 1;
            }
            input[type="submit"]{
                background-color: rgb(9, 54, 73);
                color: white;
                padding: 6%;
                border: none;
                font-size: 1rem;
                cursor: pointer;
            }
        }
        .finalMessage{
            padding: 1%;
            background-color: #b3e5d1;
            text-align: center;
            h3{
                font-size: 1.2rem;
                color:#194d33;
            }
        }
    }
}


@media screen and (min-width:1050px){
    .section-carrito{
        width: 95%;
        padding-top: 2rem;
        padding-bottom: 0;
        display: grid;
        grid-template-columns: 50%;
        grid-template-areas: "title title"
                              "products total";
        
        .carrito-title{
            padding-left: 2rem;
            grid-area: title;
            font-size: 3rem;
            color: rgb(70, 70, 70);
            font-family: sans-serif;
            
        }
        .carrito-productos{
            display: grid;
            grid-template-columns: 1fr;
            grid-area: products;
            border-top: darkgrey 1px solid;
            .carrito-producto{
                padding: 0;
                display: grid;
                border:none;    
                grid-template-columns: repeat(4,1fr);
                .carrito-producto__image{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    
                    img{
                        width: 60%;
                        height: auto;
                    }
                }
                h3{
                    padding: 0;
                    font-family: sans-serif;
                    padding: 1rem;
                    color: rgb(70, 70, 70);
                }
                .carrito-quantity-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    color: rgb(70, 70, 70);
                    div{
                        cursor: pointer;
                        border-radius: 20%;
                        padding: 5px;
                        background-color: transparent;
                        border: 2px solid rgb(70, 70, 70);
                        margin: 10px;
                        
                    }
                    h4{
                        font-size: 1.5rem;
                    }
                    .button-delete-cart{
                        color: darkred;
                        border: darkred 2px solid;
                    }
                }
            }
        }
        .sumatoria-total{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            grid-area: total;
            .card-addition-cart{
                display: grid;
                grid-template-columns: 50%;
                grid-template-areas: "info total"
                                     "button button";
                align-items:center;
                
                
                .total-information-cart{
                    text-align: left;
                    grid-area: info;
                    font-family: sans-serif;
                    font-size: 1.5rem;
                    color: rgb(70, 70, 70);
                }
                .final-total-cart{
                    grid-area:total;
                    text-align: right;
                }
                .button-buy-cart{
                    grid-area: button;
                    border: 2px solid rgb(9, 54, 73);
                    background-color: rgb(9, 54, 73);
                    color: white;
                    font-size: 1.2rem;
                    font-weight: 400;
                    border-radius: 0px;
                    padding: 10px;
                    cursor: pointer;
                    transition: all .2s ease-out;
                }
                .button-buy-cart:hover{
                    background-color: white;
                    color: rgb(9, 54, 73);
                }
            }
        }
    }

    .without-products{
        width: 95%;
        min-height: 88vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2{
            font-family: sans-serif;
            letter-spacing: 2px;
            color:rgb(70, 70, 70);
        }
        a{
            text-decoration: none;
            border: 3px solid darkred;
            background-color: darkred;
            color: white;
            font-size: 1.5rem;
            font-weight: 700;
            padding: 10px;
            cursor: pointer;
            transition: all .5s ease-out;
            font-family: sans-serif;
        }
        
    
        
    }
    .section-fav{
        width: 95%;
        min-height: 100vh;
        padding-top: 2rem;
        padding-bottom: 0;
        .favoritos-title{
            padding-left: 2rem;
        }
    }

    .finishPurchase--container{
        
        position: fixed;
        inset: 0;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999999;
        
        .finishPurchase{
            width: unset;
            height: unset;
            padding: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: white;
            position: relative;
            
            max-height: 90vh;
            .closePopUpCompra{
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                font-size: 1.5rem;
                color: rgb(70, 70, 70);
                
            }
            label{
                font-family: sans-serif;
                font-size: 1.1rem;
                margin-bottom: 5%;
                color: rgb(70, 70, 70);
                width: 100%;
                text-align: left;
            }
            input[type="text"]{
                width: 250px;
                border: none;
                border-bottom: 1px solid rgb(70, 70, 70);
                outline: none;
                font-size: 1rem;
                font-weight: 500;
            }
            .error-input{
                width: 100%;
                text-align: left;
                margin:0;
                margin-bottom: 10%;
                color: darkred;
                visibility: hidden;
                opacity: 0;
                transition: all .2s ease;
            }
            .isActiveErrorInput{
                visibility: visible;
                opacity: 1;
            }
            input[type="submit"]{
                background-color: rgb(9, 54, 73);
                color: white;
                padding: 6%;
                border: none;
                font-size: 1rem;
                cursor: pointer;
            }
        }
        .finalMessage{
            padding: 1%;
            background-color: #b3e5d1;
            text-align: center;
            h3{
                font-size: 1.2rem;
                color:#194d33;
            }
        }
    }
}
