html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    margin: 0;
    font-family: Cinzel;
    overflow-x: hidden;    
}
main{
    margin-top: 12vh;
    min-height: 88vh;
}
@media screen and (min-width:1050px){
    main{
        margin-top: 0;
        min-height: 88vh;
    }
}
::-webkit-scrollbar{
    width: 9px;
    background-color: rgb(70, 70, 70);
}
::-webkit-scrollbar-thumb{
    
    background: linear-gradient(transparent,rgb(117, 117, 117));
    border-radius: 6px
}
@import "header";
@import "hamburger";
@import "loaderPages";
@import "alerts";
@import "popUp";
@import "home";
@import "calzados";
@import "deportes";
@import "moda";
@import "cartPage";
@import "footer";